*{
	margin: 0px;
	padding: 0px;
}

html, body {
	max-width: 100%;
	overflow-x: hidden; /*no horizontal scrolling*/
}

body {
	font: 100%/1.4 Montserrat, Arial, Verdana, Helvetica;
	color: #000;
	background-repeat: no-repeat;
}

#rightHeader {
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	color: #092032;
}
p {
	margin-top: 0;
	margin-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	color: black;
}
header {
	background-color: #092032;
}
.header_p {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	color: white;
	text-align: center;
	font-size: 12pt;
    padding-top: 7px;
}
.bkimg {
	width:100%;
	height:auto;
	border-bottom: 3px solid #092032;
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	padding: 10px 20px;
	border-bottom: 3px solid #092032;
}
.navbar a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 10px 15px;
}
.navbar a:hover {
	background-color: #555;
}
.menu {
	display: flex;
}
.menu-button {
	display: none;
}
#menu-toggle {
	display: none;
}